{% extends 'base.html' %}
{%block content%}

<h3 class='text-center'>Welcome User!</h3>

<div class='row'>
  <div class='col-md-6'>
    <h4>Our Product</h4>
    <p>We have built an intelligent system that'll enable you to 
      ensure that you get the most premium locations on a shelf in a store.
      Your product will be in the eyes of the customer at all times. 
      You'll decide how much visibility you want & pay accordingly.
      You can also check if the store is doing justice to your money.
    </p>
  </div>
</div>

<div class='row'>
  <div class='col-md-6'></div>
  <div class='col-md-6'>
    <h4>Our USP</h4>
    <p>We act as a one-stop destination for both, a Store-Owner and a Brand-Owner. 
      You can register with us and view personalized dashboards as per your role and check and handle everything from a single location.
      Access live CCTV camera feed if you own the store and manage your shelves. Check the feed as a brand owner to know your 
      product is getting the advertisement it deserves!
    </p>
  </div>
</div>

<div class='row'>
  
  <div class='col-md-6'>
    <h4>Our Team</h4>
    <p>
      <a href='https://github.com/absolute-nil'>Nikhil Sharma</a>
      <br>
      <a href='https://github.com/param-s-8'>Param Shendekar</a>
      <br>
      <a href='https://github.com/vishalsalgond'>Vishal Salgond</a>
      <br>
      <a href='https://github.com/darshansatra1'>Darshan Satra</a>
    </p>
  </div>
</div>

<br><br>

{%endblock%}