{% extends 'base.html' %}
{% load crispy_forms_tags %}
{%block content%}

<div class='row'>
    <div class='col-md-2'></div>
    <div style='padding: 50px 50px;' class='col-md-8'>
        <h2>Login</h2>
        <form method='POST' > 
            <div class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-warning">Reset</button>
        </form>
    </div>

</div>

{%endblock%}